#忽略所有.svn目录
.svn/
#忽略所有target目录
target/
#忽略所有.idea目录
.idea/
#忽略所有.iml文件
*.iml
#忽略所有tomcatlocal
tomcatlocal/
#忽略所有的.bak文件
*.bak
#忽略临时的一些测试
*tempTest/
#忽略mac
.DS_Store
#忽略.log
.log
#忽略logs
logs/
.settings/
.classpath
.project

